.App {
  background-color: #eee;
  height: 100vh;
  width: 100vw;
}

.search-bar-container {
  display: flex;
  align-items: center;
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  flex-direction: column;
  min-width: 200px;
}
